/** Variable Imports **/
@import '../variables.css';

.card {
    display: flex;
    background-color: var(--clr-white);
    border-radius: 10px;
    width: 100%;
    max-width: 730px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.09);
    overflow: hidden;
    margin: 1rem auto;
}

.image {
    width: 39.4%;
    object-fit:  cover;
    object-position: left;
}

.content {
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desktopBreak {
    display: inline;
}

.title {
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
    color:  var(--clr-veryDarkGrayishBlue);
    margin-bottom: 1rem;
}

.description {
    color: var(--clr-desaturatedDarkBlue);
    font-size: var(--font-paragraph);
    margin-bottom: 1.5rem;
}

.footer {
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footerWrapper {
  width: 100%;
  position: relative;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.name {
    font-weight: var(--fw-bold);
    font-size: var(--font-paragraph);
    color: var(--clr-veryDarkGrayishBlue);
}

.date {
    font-size:var(--font-paragraph);
    color: var(--clr-desaturatedDarkBlue);
}

.shareButton {
    background-color: var(--clr-lightGrayishBlue);
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.share {
    width: 16px;
    height: 16px; 
}

.sharePopup {
  position: absolute;
  bottom: 100%;
  right: 0;
  transform: translateY(-1rem);
  background-color: var(--clr-veryDarkGrayishBlue);
  color: var(--clr-white);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


/** Add a small triangle pointer under the popup **/
.sharePopup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: var(--clr-veryDarkGrayishBlue) transparent transparent transparent;
}

.sharePopup img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.mobileShareBar {
  display: none;
}

@media (max-width: 699px){
    .desktopBreak {
        display: none;
    }
}

@media (max-width: 430px) {
    .card {
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto; 
    }

    .image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }

    /**.desktopBreak {
        display: none;
    }**/
 
    .content {
        width: 100%;
        padding: 0rem; /** removes padding so mobile popup has no border **/
        text-align: left;
    }
    
    .title {
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1rem;
    }

    .description {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
    } 

    .footer.hidden {
        display: none;
    }


  .mobileShareBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-veryDarkGrayishBlue);
  color: var(--clr-white);
  padding: 1rem 1.5rem;
  border-radius: 0 0 10px 10px;
  width: 100%;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  box-sizing: border-box;
}

  .iconGroup {
    display: flex;
    gap: 1rem;
  }

  .mobileShareBar img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .sharePopup {
    display: none;
  }
}



